/***** GLOBAL DEFAULTS *******
*****************************/

:root {
  --bck-color: #261132;
  --col-2: #FFB86F;
  --col-1: #E0CA3C;
  --col-3: #BA5C12;
  --col-4: #3E2F5B;
  --col-5: #38d1f7;
}

html { 
  display: inline-block;
  
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif !important;
  font-size: 1.2vmax;
  margin: 0;
  height: 100%;
}

a {
  color:inherit;
  text-decoration: none;
}

.col-1 {
  color: var(--col-1);
}

.col-2 {
  color: var(--col-2);
}

.col-3 {
  color: var(--col-3);
}

#fullpage {
  height: 100%;

  background-color: var(--bck-color);

  min-width: 400px;
  min-height: 700px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*****  Landing page ********* 
*****************************/

#landing {

  color: white;
  white-space: nowrap;
  display: inline-block;
  overflow:hidden;

  height: 100%;
  width: 100%;

  background-image: url("../img/vapor1.png");
  background-position: bottom;
  background-size: 100% 85%;
  background-repeat: no-repeat;

}

#left-panel-landing {
  max-width: 40%;
}

#right-panel-landing {
  padding-left: 10%;
  max-width: 50%;
}

.name {
  color: var(--col-1);
  
  margin: 0 auto;
  font-size: 50px;
}

#quote {
  color: var(--col-1);

  position: absolute;
  
  top: 22%;
  right: 15%;
  font-size: 26px;
}

.overview {
  color: var(--col-1);
  padding-left: 8vh;
}

.vertical-line {
  position: absolute;
  border-left: thick solid var(--col-1);

  top: 15%;
  margin-left: 5%;
  height: 80%;
  min-height: 600px;
}

.timeline {
  color: var(--col-1);

  padding-top: 25%;
  padding-left: 17%;
  max-height: 80%;

  overflow: hidden;
}

.entry {
  background-color: var(--col-4);
  color: var(--col-2);
  font-size: 15px;

  padding: 7px 12px;
  border-radius: 5px;

  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */

  transition: box-shadow 1s;

  margin-bottom: 6px;
}

.entry:hover {
  box-shadow: 4px 4px 0px rgba(0,0,0,.5); 
}

#more{
  position: relative;
  left: 58%;
  bottom: 6%;

  color: var(--col-1);
  font-size: 2.5em;

  font-weight: 900;

  padding: 10px 10px;
  border-radius: 4px;

  transition: box-shadow 1s;
}

#off-black{
  position: absolute;
  right: 1%;
  top: 1%;
  color: white;

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;

  padding: 10px 10px;
  border-radius: 4px;
  text-align: right;
  transition: box-shadow 1s;
}

#more:hover {
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
  cursor: pointer; 
}

#invis {
  position: absolute;

  top: 4%;
  left: 28%;
  bottom: 4%;

  padding: 40px 70px;

  width: 100%;
}

#circle {
  display: none;
  position: absolute;
  top: calc(50% - 280px);
  left: calc(50% - 280px);

  border-right: thick solid var(--col-3);
  border-left: thick solid var(--col-3);
  border-width: 20px;
  
  width: 560px;
  height: 560px;
  border-radius: 50%;
}


#everything {

  color: white;
  white-space: nowrap;
  overflow:hidden;
  display: none;

  height: 100%;
  width: 100%;

  background-image: url("../img/vapor2.png");
  background-position: bottom;
  background-size: 100% 85%;
  background-repeat: no-repeat;

}


